In [31]:
import pandas as pd

In [34]:
df = pd.read_csv('./fast_excel.csv', encoding='cp949')

In [35]:
data=['ccc']

In [36]:
df.loc[len(df)] = data

In [37]:
df

     name
0     bbb
1     ddd
2  癰귣벉龜筌?
3   媛쒓뎄由?
4     ccc

In [41]:
temp = dict(zip(['인사'], ['안녕']))

In [42]:
temp

{'인사': '안녕'}